@model UsuarioPerfil

@{
    Layout = "_LogLayout";
}

@{
    string role = Context.User.FindFirstValue(ClaimTypes.Role);
}

<form>
    <div class="container mx-auto w-full overflow-hidden bg-white dark:bg-gray-700 dark:text-white text-gray-900 shadow sm:rounded-lg"
         style="margin-top: 20px">
        <div class="px-4 py-5 sm:px-6 bg-gray-900">
            <h3 class="text-base font-semibold leading-6 dark:text-white text-gray-900">Información personal</h3>
            <p class="mt-1 max-w-2xl text-sm dark:text-white text-gray-900">Detalles personales</p>
        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="bg-white dark:bg-gray-800 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium dark:text-white text-gray-900">Nombre</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <input type="text" id="edad" name="edad" asp-for="Nombre" value="@Model.Nombre" readonly
                               class="shadow-sm bg-gray-50 border border-gray-300 dark:white text-gray-900 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                        <span asp-validation-for="Nombre" class="mt-2 text-sm text-red-600 dark:text-red-500" id="error-nombre"></span>
                    </dd>
                </div>
                <div class="bg-white dark:bg-gray-900 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium dark:text-white text-gray-900">Apellidos</dt>
                    <dd class="mt-1 text-sm dark:text-white text-gray-900 sm:col-span-2 sm:mt-0">
                        <input type="text" id="apellidos" asp-for="Apellidos" value="@Model.Apellidos" readonly
                               class="shadow-sm bg-gray-50 border border-gray-300 dark:white text-gray-900 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                        <span asp-validation-for="Apellidos" class="mt-2 text-sm text-red-600 dark:text-red-500" id="error-apellidos"></span>
                    </dd>
                </div>
                <div class="bg-gray-50 dark:bg-gray-800 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium dark:text-white text-gray-900">Correo electrónico</dt>
                    <dd class="mt-1 text-sm dark:text-white text-gray-900 sm:col-span-2 sm:mt-0">
                        <input type="text" id="email" asp-for="Email" value="@Model.Email" readonly
                               class="shadow-sm bg-gray-50 border border-gray-300 dark:white text-gray-900 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                        <span asp-validation-for="Email" class="mt-2 text-sm text-red-600 dark:text-red-500" id="error-email"></span>
                    </dd>
                </div>
                <div class="bg-white dark:bg-gray-900 dark:text-white text-gray-900 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium dark:text-white text-gray-900">DNI</dt>
                    <dd class="mt-1 text-sm dark:text-white text-gray-900 sm:col-span-2 sm:mt-0">
                        <input type="text" id="dni" asp-for="Dni" value="@Model.Dni" readonly
                               class="shadow-sm bg-gray-50 border border-gray-300 dark:white text-gray-900 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                        <span asp-validation-for="Apellidos" class="mt-2 text-sm text-red-600 dark:text-red-500" id="error-dni"></span>
                    </dd>
                </div>
                <div class="bg-gray-50 dark:bg-gray-800 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium dark:text-white text-gray-900">Sexo</dt>
                    <dd class="mt-1 text-sm dark:text-white text-gray-900 sm:col-span-2 sm:mt-0">
                        <input type="text" id="email" asp-for="Email" value="@Model.Sexo[0].ToString().ToUpper()+@Model.Sexo.Substring(1)" readonly
                               class="shadow-sm bg-gray-50 border border-gray-300 dark:white text-gray-900 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                        <span asp-validation-for="Email" class="mt-2 text-sm text-red-600 dark:text-red-500" id="error-email"></span>
                    </dd>
                </div>
                <div class="bg-white dark:bg-gray-900 dark:text-white text-gray-900 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium dark:text-white text-gray-900">Edad</dt>
                    <dd class="mt-1 text-sm dark:text-white text-gray-900 sm:col-span-2 sm:mt-0">
                        <input type="text" id="dni" asp-for="Dni" value="@Model.Edad"
                               class="shadow-sm bg-gray-50 border border-gray-300 dark:white text-gray-900 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                        <span asp-validation-for="Apellidos" class="mt-2 text-sm text-red-600 dark:text-red-500" id="error-dni"></span>
                    </dd>
                </div>
                <div class="bg-gray-50 dark:bg-gray-800 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium dark:text-white text-gray-900">Altura</dt>
                    <dd class="mt-1 text-sm dark:text-white text-gray-900 sm:col-span-2 sm:mt-0">
                        <input type="text" id="email" asp-for="Email" value="@Model.Altura"
                               class="shadow-sm bg-gray-50 border border-gray-300 dark:white text-gray-900 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                        <span asp-validation-for="Email" class="mt-2 text-sm text-red-600 dark:text-red-500" id="error-email"></span>
                    </dd>
                </div>
                <div class="bg-white dark:bg-gray-900 dark:text-white text-gray-900 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium dark:text-white text-gray-900">Peso</dt>
                    <dd class="mt-1 text-sm dark:text-white text-gray-900 sm:col-span-2 sm:mt-0">
                        <input type="text" id="dni" asp-for="Dni" value="@Model.Peso"
                               class="shadow-sm bg-gray-50 border border-gray-300 dark:white text-gray-900 dark:text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                        <span asp-validation-for="Apellidos" class="mt-2 text-sm text-red-600 dark:text-red-500" id="error-dni"></span>
                    </dd>
                </div>
                <div class="bg-gray-50 dark:bg-gray-800 px-4 py-5 sm:px-6">
                    <a asp-action="ELiminarCliente" asp-controller="Entrenador" asp-route-idcliente="@Model.IdUsuario" 
                        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                        Eliminar
                    </a>
                    @if (role == "entrenador")
                    {
                        <a asp-controller="Entrenador" asp-action="CrearRutina" asp-route-idcliente="@Model.IdUsuario"
                       class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Añadir rutina
                        </a>
                        <a asp-controller="Entrenador" asp-action="Rutinas" asp-route-idcliente="@Model.IdUsuario"
                       class="ml-3 focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                            Rutinas
                        </a>
                    }
                    else if(role == "nutricionista")
                    {
                        <a asp-controller="Dietista" asp-action="CrearDieta"
                       class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Añadir dieta
                        </a>
                        <a asp-controller="Dietista" asp-action="Dietas"
                       class="ml-3 focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                            Dietas
                        </a>
                    }
                </div>
            </dl>
        </div>
    </div>
</form>